{%extends "base.html" %}
{%block content%}
<div class="col-1"></div>
<div class="col-10">
    <!-- NAV BAR-->

    {% from "patient_navbar.html" import patient_navbar with context %}
    {{patient_navbar(enter_id)}}
    {% from "patient_navbar.html" import patient_info with context %}
    {{patient_info( names,first_lastname,gender,age,enter_id,enter_date)}} 
        <div class="jumbotron">
            <div class="row">
                    <h4>Antecedentes personales no patologicos</h4>
                    <hr>
            </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Ficha de ingreso</label>
                </div>
            </div>
            <form method="POST" id="antecedentes_personales_no_patologicos_form">
                <div class="col">
                    <div class="form-group">
                    <input class="form-control" type="number" id="enter_id" name="enter_id" hidden value="{{enter_id}}">
                    <input type="text" id="informacion_introducida_por" name="informacion_introducida_por" value="{{current_user.username}}" >
                    </div>
                </div>
            </div>
            <!-- Religion -->
            <div class="form-group">
             <input type="hidden" value="{{id}}">
             <label for="religion">Religión:</label><br>
             <select class="form-control" type="text" id="religion" name="religion"><br>
                <option>Cristiano Católica </option>
                <option>Cristiano protestante</option>
                <option>Islam</option>
                <option>Hinduismo</option>
                <option>Judaismo</option>
                <option>Budismo</option>
                <option>Otra</option>
                <option>Sin religión </option>
             </select>
            </div>
            <div class="row">
                <div class="col">
                    <div clas="form-group">
                        <label for="altura">Lugar de Nacimiento</label><br>
                        <select class="form-control" type="text" id="lugar_de_nacimiento" name="lugar_de_nacimiento"><br>
                            <option value="Aguascalientes">Aguascalientes</option>
                            <option value="Baja California">Baja California</option>
                            <option value="Baja California Sur">Baja California Sur</option>
                            <option value="Campeche">Campeche</option>
                            <option value="Chiapas">Chiapas</option>
                            <option value="Chihuahua">Chihuahua</option>
                            <option value="CDMX">Ciudad de México</option>
                            <option value="Coahuila">Coahuila</option>
                            <option value="Colima">Colima</option>
                            <option value="Durango">Durango</option>
                            <option value="Estado de México">Estado de México</option>
                            <option value="Guanajuato">Guanajuato</option>
                            <option value="Guerrero">Guerrero</option>
                            <option value="Hidalgo">Hidalgo</option>
                            <option value="Jalisco">Jalisco</option>
                            <option value="Michoacán">Michoacán</option>
                            <option value="Morelos">Morelos</option>
                            <option value="Nayarit">Nayarit</option>
                            <option value="Nuevo León">Nuevo León</option>
                            <option value="Oaxaca">Oaxaca</option>
                            <option value="Puebla">Puebla</option>
                            <option value="Querétaro">Querétaro</option>
                            <option value="Quintana Roo">Quintana Roo</option>
                            <option value="San Luis Potosí">San Luis Potosí</option>
                            <option value="Sinaloa">Sinaloa</option>
                            <option value="Sonora">Sonora</option>
                            <option value="Tabasco">Tabasco</option>
                            <option value="Tamaulipas">Tamaulipas</option>
                            <option value="Tlaxcala">Tlaxcala</option>
                            <option value="Veracruz">Veracruz</option>
                            <option value="Yucatán">Yucatán</option>
                            <option value="Zacatecas">Zacatecas</option>
                            </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="estado_civil">Estado civil</label><br>
                        <select class="form-control" type="text" id="estado_civil" name="estado_civil">
                            <option value="Casado(a)">Casado(a)</option>
                            <option value="Concubino(a)">Concubino(a)</option>
                            <option value="Divorciado(a)">Divorciado(a)</option>
                            <option value="Padre/madre soltero(a)">Padre/madre soltero(a)</option>
                            <option value="Separado(a)">Separado(a)</option>
                            <option value="Soltero(a)">Soltero(a)</option>
                            <option value="Union libre">Union libre</option>
                            <option value="Viudo(a)">Viudo(a)</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Direccion -->
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="diastolica">Escolaridad</label><br>
                        <Select class="form-control" type="text" id="escolaridad" name="escolaridad">
                            <option value="Analfabeta">Analfabeta</option>
                            <option value="Bachillerato">Bachillerato</option>
                            <option value="Doctorado">Doctorado</option>
                            <option value="Licenciatura">Licenciatura</option>
                            <option value="Maestría">Maestría</option>
                            <option value="Ninguna">Ninguna</option>
                            </select>
                    </div>
                </div>
                <div class="col">
                    <div clas="form-group">
                        <label for="higiene_personal">Igiene personal</label><br>
                        <select class="form-control" type="text" id="igiene_personal" name="igiene_personal">
                            <option value="Buena">Buena</option>
                            <option value="Deficiente">Deficiente</option>
                            <option value="Mala">Mala</option>
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                      <input type="hidden" name="actividad_fisica" id="actividad_fisica" value="hi">
                      <label>Actividad Física</label>
                      <br>
                      <input class="form-check-input" type="radio" name="si_radio" id="actividad_fisica_si" value="si" checked>
                      <label class="form-check-label" for="exampleRadios1">
                        Si
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="no_radio" id="actividad_fisica_no" value="no">
                      <label class="form-check-label" for="exampleRadios2">
                        No
                      </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="tipo_de_actividad">Tipo de actividad</label><br>
                        <select class="form-control" name="tipo_de_actividad" id="tipo_de_actividad">
                            <option value="Aerobics">Aerobics</option>
                            <option value="Basquetbol">Basquetbol</option>
                            <option value="Baile">Baile</option>
                            <option value="Caminata">Caminata</option>
                            <option value="Carrera">Carrera</option>
                            <option value="Futbol">Futbol</option>
                            <option value="Natacion">Natación</option>
                            <option value="Voleibol">Voleibol</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div clas="form-group">
                        <label for="frecuencia">Frecuencia</label><br>
                        <select class="form-control" type="text" id="frecuencia_num" name="frecuencia_num"><br>
                            {% for num in range(10)%}
                            <option value="{{num}}">{{num}}</option>    
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div clas="form-group">
                        <label for="frecuencia_unidad">por: </label><br>
                        <select class="form-control" type="text" id="frecuencia_unidad" name="frecuencia_unidad"><br>
                            <option value="Semana">Semana</option>
                            <option value="Mes">Mes</option>
                            <option value="Año">Año</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                     <label for="preferencia_sexual">Preferencia sexual</label>
                     <select class="form-control" type="text" id="preferencia_sexual" name="preferencia_sexual">
                         <option value="Heterosexual">Heterosexual</option>
                         <option value="Homosexual">Homosexual</option>
                         <option value="Bisexual">Bisexual</option>
                         <option value="No aplica">No aplica</option>
                     </select>
                    </div>
                </div>
                 <div class="col">
                    <div class="form-group">
                     <label for="numero_de_parejas">Numero de parejas</label>
                     <select class="form-control" type="text" id="numero_de_parejas" name="numero_de_parejas">
                         {%for parejas in range(10)%}
                         <option value="{{parejas}}">{{parejas}}</option>
                         {%endfor%}
                     </select>
                    </div>
                </div>
                    <div class="col">
                    <div class="form-group">
                     <label for="grupo_sanguineo">Grupo sanguíneo</label>
                     <select class="form-control" type="text" id="grupo_sanguineo" name="grupo_sanguineo">
                         <option value="A positivo">A positivo</option>
                         <option value="A negativo">A negativo</option>
                         <option value="B positivo">B positvo</option>
                         <option value="B negativo">B negativo</option>
                         <option value="AB positivo">AB positvo</option>
                         <option value="AB negativo">AB negativo</option>
                         <option value="O positivo">O positivo</option>
                         <option value="O negativo">O negativo</option>
                         <option value="No lo sabe">No lo sabe</option>
                     </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="calidad_de_alimentacion">Calidad de alimentación</label>
                     <select class="form-control" type="text" id="calidad_de_alimentacion" name="calidad_de_alimentacion">
                         <option value="Muy bueno">Muy bueno</option>
                         <option value="Regular">Regular</option>
                         <option value="Malo">Malo</option>
                    </select>
                </div>
                    <div class="col">
                    <label for="Caracteristicas_de_la_habitacion">Características de la habitación</label>
                     <select class="form-control" type="text" id="caracteristicas_de_la_habitacion" name="caracteristicas_de_la_habitacion">
                         <option value="Agua introdomiciliaria">Agua intradomiciliaria</option>
                         <option value="Agua extradomiciliaria potable">Agua extradomiciliaria potable</option>
                         <option value="Agua extradomiciliaria no potable">Agua extradomiciliaria no potable</option>
                         <option value="Excretas con drenaje">Excretas con drenaje</option>
                    </select>
                </div>
            </div>
            <hr>
            

            <button onclick="fill_modal()" type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#antecedentes-patologicos-no-patologicos-modal">Revisar información</button>            
            <br>
            <br>
            <button type="submit" class="btn btn-secondary form-control">Cancelar ingreso</button>   
        </form>
        <br>
    </div>
</div>
<div class="col-1"></div>

<!--MODAL -->
<div class="modal fade" id="antecedentes-patologicos-no-patologicos-modal" tabindex="-1" role="dialog" aria-labelledby="patient-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Corroborar Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Religión:</p>
          <h3 id="modal_religion" value=""> </h3>
          <p>Lugar de nacimiento:</p>
          <h3 id="modal_lugar_de_nacimiento"></h3>
          <p>Estado civil:</p>
          <h3 id="modal_estado_civil" value=""></h3>
          <p>Escolaridad: </p>
          <h3 id="modal_escolaridad" value=""></h3>
          <p>Igiene Personal: </p>
          <h3 id="modal_igiene_personal" value=""></h3>
          <p>Actividad Fisica</p>
          <h3 id="modal_actividad_fisica" value=""></h3>
          <p>Tipo de actividad física</p>
          <h3 id="modal_tipo_de_actividad" value=""></h3>
          <p>Frecuencia:</p>
          <h3 id="modal_frecuencia_num"></h3>
          <p>Cada:</p>
          <h3 id="modal_frecuencia_unidad"></h3>
          <p>Preferencia Sexual:</p>
          <h3 id="modal_preferencia_sexual"></h3>
          <p>Numero de parejas:</p>
          <h3 id="modal_numero_de_parejas"></h3>
          <p>Grupo sanguíneo:</p>
          <h3 id="modal_grupo_sanguineo"></h3>
          <p>Calidad de alimentación:</p>
          <h3 id="modal_calidad_de_alimentacion"></h3>
          <p>Características de habitación:</p>
          <h3 id="modal_caracteristicas_de_la_habitacion"></h3>
          <hr>
          <p>Dado de alta por:</p>
          <p>{{current_user.username}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button onclick="send_form()" type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!--END MODAL-->
<script>
    //ucheck checkbox sin antecedentes
    

function fill_modal(){
    //GET ALL "padecimientos"
    document.getElementById("modal_religion").innerText = document.getElementById("religion").value.trim()
    document.getElementById("modal_lugar_de_nacimiento").innerText = document.getElementById("lugar_de_nacimiento").value.trim()
    document.getElementById("modal_estado_civil").innerText = document.getElementById("estado_civil").value.trim()
    document.getElementById("modal_escolaridad").innerText = document.getElementById("escolaridad").value.trim()
    document.getElementById("modal_igiene_personal").innerText = document.getElementById("igiene_personal").value.trim()
    if (document.getElementById("actividad_fisica_si").checked == true){
        document.getElementById("actividad_fisica").value = "Con actividad física"
        document.getElementById("modal_actividad_fisica").innerText = "Con actividad física"
        document.getElementById("modal_tipo_de_actividad").innerText = document.getElementById("tipo_de_actividad").value.trim()
        document.getElementById("modal_frecuencia_num").innerText = document.getElementById("frecuencia_num").value.trim()
        document.getElementById("modal_frecuencia_unidad").innerText = document.getElementById("frecuencia_unidad").value.trim()

    }
    if (document.getElementById("actividad_fisica_no").checked == true){
        document.getElementById("actividad_fisica").value = "Sin actividad física"
        document.getElementById("modal_actividad_fisica").innerText = "Sin actividad física"
        document.getElementById("modal_tipo_de_actividad").innerText = "Ninguna"
        document.getElementById("modal_frecuencia_num").innerText = "No aplica"
        document.getElementById("modal_frecuencia_unidad").innerText = "No aplica"
    }
        document.getElementById("modal_preferencia_sexual").innerText = document.getElementById("preferencia_sexual").value.trim()
    document.getElementById("modal_numero_de_parejas").innerText = document.getElementById("numero_de_parejas").value.trim()
    document.getElementById("modal_grupo_sanguineo").innerText = document.getElementById("grupo_sanguineo").value.trim()
    document.getElementById("modal_calidad_de_alimentacion").innerText = document.getElementById("calidad_de_alimentacion").value.trim()
    document.getElementById("modal_caracteristicas_de_la_habitacion").innerText = document.getElementById("caracteristicas_de_la_habitacion").value.trim()
}

function send_form(){                                                                                               
   var form = document.getElementById("antecedentes_personales_no_patologicos_form")                                                           
    form.submit()                                                                                                   
}                                                                                                                   
</script>
{%endblock%}
