{%extends "base.html" %}
{%block content%}
<div class="col-1"></div>
<div class="col-10">
    <!-- NAV BAR-->

    {% from "patient_navbar.html" import patient_navbar with context %}
    {{patient_navbar(enter_id)}}
    {% from "patient_navbar.html" import patient_info with context %}
    {{patient_info( names,first_lastname,gender,age,enter_id,enter_date)}}  
        <div class="jumbotron">
            <div class="row">
                    <h4>Padecimiento Actual</h4>
                    <hr>
            </div>
        <div class="row">
            <form method="POST" id="resumen_clinico_form">
                <div class="col">
                    <div class="form-group">
                    <input class="form-control" type="number" id="enter_id" name="enter_id" hidden="true" value="{{enter_id}}">
                    <input type="hidden" name="informacion_introducida_por" id="informacion_introducida_por" value="{{current_user.username}}">
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <!-- we divide the entire section into two parts-->
                <div class="col-6">
                    <div class="form-group">
                        <label for="padecimiento_actual">Padecimiento Actual:</label><br>
                        <textarea class="form-control" rows="5" type="text" id="padecimiento_actual" name="padecimiento_actual"></textarea><br>
                    </div>
            
                        <h5>Exploración física:</h5>
                         <div class="from-group">
                             <label for="detalles_exploracion_fisica">Detalles de exploración física:</label>
                             <textarea rows="4" class="form-control" id="detalles_exploracion_fisica" name="detalles_exploracion_fisica"> </textarea>
                         </div>
                 </div>



                <div class="col-6">

                                        <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="peso">Peso:</label><br>
                                <input class="form-control" type="number" step=".01" id="peso" name="peso"><br>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="altura">Altura</label><br>
                                <input class="form-control" type="number" step=".01" id="altura" name="altura"><br>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="imc">IMC:</label>
                                <input type="number" class="form-control" name="imc" id="imc" value="" readonly>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h4>Signos Vitales</h4>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="sistolica">TA sistólica</label><br>
                                <input class="form-control" type="number" step=".01" id="ta_sistolica" name="ta_sistolica"><br>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="diastolica">TA Diastólica</label><br>
                                <input class="form-control" type="number" step=".01" id="ta_diastolica" name="ta_diastolica"><br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="cardiaca">Frecuencia Cardiaca</label><br>
                                <input class="form-control" type="number" step=".01" id="frecuencia_cardiaca" name="frecuencia_cardiaca"><br>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="respiratoria">Frecuencia Respiratoria</label><br>
                                <input class="form-control" type="number" step=".01" id="frecuencia_respiratoria" name="frecuencia_respiratoria"><br>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="temperatura">Temperatura</label><br>
                                <input class="form-control" type="number" step=".01" id="temperatura" name="temperatura"><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="tratamiento">Tratamiento</label>
                        <textarea class="form-control" rows="12" name="tratamiento" id="tratamiento">
1.- Dieta: Ayuno, dieta para diabético, dieta para nefropata, dieta 1500 cal
2.- Líquidos intravenosos: solución salina 500 ml p/8 hrs, solución Hartaman 1000 ml p/8 hrs
3.-Medicamentos:
Paracetamol tab 500 mg 1 cada 8 hrs
Dexametasona ámpula 1 cada IM 
Nubain 0.5 ml SC cada 4 horas
4.-Oxigenoterapia: oxigeno por puntas nasales a razón 2 lt/min
5.-Cuidados de enfermería: Vigilar temperatura, saturación de oxigeno, signos vitales cada hora
6.-Signos de alarmas: temperatura mayor a 40c, convulsiona, perdida de conciencia.
7.- Estudios de laboratorio: Biometría hemática, pruebas Covid. 
8.-Estudios de gabinete: radiografías, tomografías, ultrasonidos, EKG.</textarea>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="medico">Nombre del Médico:</label>
                        <input class="form-control" id="nombre_del_medico" name="nombre_del_medico" value="{{current_user.user_names}} {{current_user.user_first_lastname}} {{current_user.user_second_lastname}}"  readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="cedula">Cédula:</label>
                        <input class="form-control" name="cedula" id="cedula" value="{{current_user.user_cedula}}" readonly>
                    </div>
                </div>
            </div>
            <button onclick="fill_modal()" type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#atencion-medica-modal">Revisar información</button>            
            <br>
            <br>
            <button type="submit" class="btn btn-secondary form-control">Cancelar ingreso</button>   
        </form>
        <br>
    </div>
</div>
<div class="col-1"></div>

<!--MODAL -->
<div class="modal fade" id="atencion-medica-modal" tabindex="-1" role="dialog" aria-labelledby="patient-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de paciente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Padecimiento Actual:</p>
          <h3 id="modal_padecimiento_actual" value=""> </h3>
          <p>Peso:</p>
          <h3 id="modal_peso" value=""> </h3>
          <p>Altura:</p>
          <h3 id="modal_altura"></h3>
          <p>TA Sistólica:</p>
          <h3 id="modal_ta_sistolica" value=""></h3>
          <p>TA Diastólica: </p>
          <h3 id="modal_ta_diastolica" value=""></h3>
          <p>Frecuencia cardiaca: </p>
          <h3 id="modal_frecuencia_cardiaca" value=""></h3>
          <p>Frecuencia respiratoria</p>
          <h3 id="modal_frecuencia_respiratoria" value=""></h3>
          <p>Temperatura:</p>
          <h3 id="modal_temperatura"></h3>
          <hr>
          <p>Dado de alta por:</p>
          <p>{{current_user.username}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button onclick="send_form()" type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!--END MODAL-->
<script>
function fill_imc(){                                                                                          
    if (document.getElementById("peso").value !=  '' && document.getElementById("altura").value != '' ){      
        var peso = parseFloat(document.getElementById("peso").value)                                          
        var altura = parseFloat(document.getElementById("altura").value)                                      
        var imc = peso / (altura * altura)                                                                    
        document.getElementById("imc").value = imc.toFixed(2)                                                 
    }                                                                                                         
}                                                                                                             
                                                                                                              
document.getElementById("peso").addEventListener("change",fill_imc)                                           
document.getElementById("altura").addEventListener("change",fill_imc)                                          

function fill_modal(){
    //GET ALL "padecimientos"
    document.getElementById("modal_padecimiento_actual").innerText = document.getElementById("padecimiento_actual").value.trim()
    document.getElementById("modal_peso").innerText = document.getElementById("peso").value.trim()
    document.getElementById("modal_altura").innerText = document.getElementById("altura").value.trim()
    document.getElementById("modal_ta_sistolica").innerText = document.getElementById("ta_sistolica").value.trim()
    document.getElementById("modal_ta_diastolica").innerText = document.getElementById("ta_diastolica").value.trim()
    document.getElementById("modal_frecuencia_cardiaca").innerText = document.getElementById("frecuencia_cardiaca").value.trim()
    document.getElementById("modal_frecuencia_respiratoria").innerText = document.getElementById("frecuencia_respiratoria").value.trim()
    document.getElementById("modal_temperatura").innerText = document.getElementById("temperatura").value.trim()
    }

function send_form(){                                                                                               
   var form = document.getElementById("resumen_clinico_form")                                                           
    form.submit()                                                                                                   
}                                                                                                                   
</script>
{%endblock%}
