<!DOCTYPE html>

<html lang='es'>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <script src="static/js/jquery-3.3.1.slim.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>

    </head>
   
    <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="dashboard">CAT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="reports">Reportes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ingreso_paciente">+Ingreso</a>
      </li>
      <li>
          <a class="nav-link" href="delete_report">-Eliminar</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
   <div class="row">
    {% block content%}{%endblock%}
    </div>
</div>

                <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        </body>
<html>
