{%extends "base.html" %}
{%block content%}
<div class="col-1"></div>
<div class="col-10">
    <!-- NAV BAR-->

    {% from "patient_navbar.html" import patient_navbar with context %}
    {{patient_navbar(enter_id)}}
    {% from "patient_navbar.html" import patient_info with context %}
    {{patient_info( names,first_lastname,gender,age,enter_id,enter_date)}}  

    {% with messages=get_flashed_messages(with_categories=true) %}                            
        {% if messages%}                                                                      
            {% for category, msg in messages%}                                                
                    <div class="{{category}}" role="alert">                                   
                        {{msg}}                                                               
                    </div>                                                                    
            {% endfor%}                                                                       
        {% endif%}                                                                            
    {% endwith%}                                                                              


    
    <div class="jumbotron">

            <div class="row">
                    <h4>Constantes Vitales</h4>
            </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                </div>
            </div>
            <form method="POST" id="antecedentes_pediatricos_form">
                <div class="col">
                    <div class="form-group">
                    <input class="form-control" type="hidden" id="enter_id" name="enter_id"  value="{{enter_id}}">
                    <input type="hidden" name="informacion_introducida_por" id="informacion_introducida_por" value="{{current_user.username}}">
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <!-- we divide the entire section into two parts-->
                <div class="col-6">
                    <div class="row">
                    <div class="col-4">
                    <div class="form-group">
                        <label for="padecimiento_actual">Turno</label><br>
                        <select class="form-control" type="text" id="turno" name="turno">
                            <option value="Matutino">Matutino</option>      
                            <option value="Vespertino">Vespertino</option>      
                            <option value="Diurno">Diurno</option>      
                        </select>
                    </div>
                    </div>
                    <div class="col-4">
                    <div class="form-group">
                            <label for="padecimiento_actual">Hora</label><br>
                            <select class="form-control" type="text" id="hora" name="hora">
                                {% for num in range(0,24) %}
                                <option value={{num}}>{{num}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        </div>

                    <div class="col-4">
                    <div class="form-group">
                            <label for="minuto">Minuto</label><br>
                            <select class="form-control"  type="text" id="minuto" name="minuto">
                                {% for num in range(0,60,5) %}
                                <option value={{num}}>{{num}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    

                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="day">Día</label><br>
                            <select class="form-control" rows="4" type="text" id="day" name="day">
                                {% if today.day < 2 %}
                                <option value=1>1</option>
                                {% else %}
                                <option value={{today.day}}>{{today.day}}</option>
                                <option value={{ today.day -1 }}>{{today.day -1}}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="padecimiento_actual">Mes</label><br>
                            <select class="form-control" rows="4" type="text" id="month" name="month">
                            {% if today.day < 2 %}
                                {%if today.month < 2%}                                                 
                                    <option value=12>12</option>                                       
                                    <option value=1>1</option>                                         
                                {%else%}                                                               
                                    <option value={{today.month }}>{{today.month}}</option>            
                                    <option value={{today.month - 1}}>{{today.month -1}}</option>      
                                {%endif%}                                                                                                                                     
                            {% else %}
                                <option value={{today.month}}>{{today.month}}</option>
                            {% endif %}

                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="minuto">Año</label><br>
                            <select class="form-control"  type="text" id="year" name="year">
                            {% if today.day < 2 %}
                                <option value={{today.year}}>{{today.year}}</option>
                                <option value={{ today.year -1 }}>{{today.year -1}}</option>
                                {% else %}
                                <option value={{today.year}}>{{today.year}}</option>
                                {% endif %}
                            </select>
                        </div>
                        </div>
                    </div>


            </div>
            </div>
            

                <!-- we divide the entire section into two parts-->
                <div class="row">
                             <div class="col">
                    <div class="form-group">
                        <label for="sistolica">TA sistólica (mmHg)</label><br>
                        <input class="form-control" type="number" id="ta_sistolica" name="ta_sistolica"><br>
                    </div>                                                                                      
                </div>                                                                                          
                <div class="col">                                                                               
                    <div class="form-group">                                                                       
                        <label for="diastolica">TA Diastólica (mmHg)</label><br>                                
                        <input class="form-control" type="number" id="ta_diastolica" name="ta_diastolica"><br>  
                    </div>                                                                                      
                </div>
                <div class="col">                                                                                  
                    <div class="form-group">                                                                       
                        <label for="cardiaca">Frecuencia Cardiaca</label><br>                                      
                        <input class="form-control" type="number" id="frecuencia_cardiaca" name="frecuencia_cardiaca"><br>
                    </div>
                </div>                                                                                             
                <div class="col">                                                                                  
                    <div class="form-group">                                                                       
                        <label for="respiratoria">Frecuencia Respiratoria</label><br>                              
                        <input class="form-control" type="number" id="frecuencia_respiratoria" name="frecuencia_respiratoria"><br>                                                                                                    
                    </div>                                                                                         
                </div>                                                                                             </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="temperatura">Temperatura</label><br>
                        <select class="form-control" type="number" id="temperatura" name="temperatura"><br>
                            {% for e in range(340,420,2)%}
                            <option>{{e/10}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="oximetria">Oximetría</label><br>
                        <select class="form-control" type="number" id="oximetria" name="oximetria"><br>
                            {%for e in range(100,40,-1)%}
                            <option value={{e}}>{{e}}%</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="llenado_capilar">Llenado capilar</label><br>
                        <input class="form-control" type="number" id="llenado_capilar" name="llenado_capilar"><br>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="Presión_venosa">Llenado capilar</label><br>
                        <input class="form-control" type="number" id="llenado_capilar" name="llenado_capilar"><br>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="Glicemia capilar">Glicemia capilar</label><br>
                        <input class="form-control" type="number" id="glicemia_capilar" name="glicemia_capilar"><br>
                    </div>
                </div>

            </div>
                <hr>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="medico">Nombre del Enfermero(a):</label>
                        <input class="form-control" id="nombre_del_medico" name="nombre_del_medico" value="{{current_user.user_names}} {{current_user.user_first_lastname}} {{current_user.user_second_lastname}}"  readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="cedula">Cédula:</label>
                        <input class="form-control" name="cedula" id="cedula" value="{{current_user.user_cedula}}" readonly>
                    </div>
                </div>
            </div>
            <button onclick="fill_modal()" type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#prevencion_ulceras-modal">Revisar información</button>            
            <br>
            <br>
            <button type="submit" class="btn btn-secondary form-control">Cancelar ingreso</button>   
        </form>
        <br>
    </div>
</div>
<div class="col-1"></div>

<!--MODAL -->
<div class="modal fade" id="prevencion_ulceras-modal" tabindex="-1" role="dialog" aria-labelledby="patient-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de paciente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Paciente:</p>
          <h4 id="modal_paciente" value="{{patient.names}}">{{patient.names}} {{patient.first_lastname}} {{patient.second_lastname}}</h4>
          <p>Hora:Minuto</p>
          <h4 id="modal_hora" value=""> </h4>
          <p>Turno:</p>
          <h4 id="modal_turno" value=""></h4>
          <p>Fecha: </p>
          <h4 id="modal_fecha" value=""></h4>
          <p>Tipo de prevención: </p>
          <h4 id="modal_tipo_prevencion" value=""></h4>
          <hr>
          <p>Dado de alta por:</p>
          <p>{{current_user.username}}</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button onclick="send_form()" type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!--END MODAL-->
<script>

document.getElementById("hora").addEventListener("change",fill_turno)

function fill_turno(){
    var hora = document.getElementById("hora").value
    if (hora >= 7 && hora <= 14){
        document.getElementById("turno").value = "Matutino"
    
    }else if (hora > 14 && hora <= 23){
        document.getElementById("turno").value = "Vespertino"
    }
    else{
        document.getElementById("turno").value = "Diurno"
    }
    }

function fill_imc(){                                                                                          
    if (document.getElementById("peso").value !=  '' && document.getElementById("altura").value != '' ){      
        var peso = parseFloat(document.getElementById("peso").value)                                          
        var altura = parseFloat(document.getElementById("altura").value)                                      
        var imc = peso / (altura * altura)                                                                    
        document.getElementById("imc").value = imc.toFixed(2)                                                 
    }                                                                                                         
}                                                                                                             
                                                                                                              
function get_yesterday_date(){
const today = new Date()
    if (today.getDate() == 1){
        var select = document.getElementById("day")
        const yesterday = new Date(today)
        yesterday.setDate(yesterday.getDate() - 1)
        var el_yesterday = document.createElement("option")
        el_yesterday.value = yesterday.getDate()
        el_yesterday.textContent = yesterday.getDate()
        select.appendChild(el_yesterday)
    }
}
get_yesterday_date()
function fill_modal(){
    //GET ALL "padecimientos"
    var minuto = document.getElementById("minuto").value.trim()
    document.getElementById("modal_hora").innerText = document.getElementById("hora").value.trim() + ":" + minuto
    document.getElementById("modal_turno").innerText = document.getElementById("turno").value.trim()
    var day = document.getElementById("day").value.trim()
    var month = document.getElementById("month").value.trim()
    var year = document.getElementById("year").value.trim()
    document.getElementById("modal_fecha").innerText = day+"/"+month+"/"+year
    document.getElementById("modal_tipo_prevencion").innerText = document.getElementById("tipo_prevencion").value.trim()
    }

function send_form(){                                                                                               
   var form = document.getElementById("antecedentes_pediatricos_form")                                                           
    form.submit()                                                                                                   
}                                                                                                                   
</script>
{%endblock%}
