{% extends "base.html" %}
{% block content %}
    {% with messages=get_flashed_messages(with_categories=true) %}
        <div class="col-2"></div>
        <div class="col-8">
        {% if messages%}
            {% for category, msg in messages%}
            
                    <div class="{{category}}" role="alert">
                        {{msg}}
                    </div>
            {% endfor%}
        {% endif%}
        </div>
        <div class="col-2"></div>

    {% endwith%}
    <div class="col-2"></div>
    <div class="col-8">
    <div class="jumbotron">
<h1>Administracion de cuentas</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id </th> 
            <th scope="col">Username </th>
            <th scope="col">Tipo de usuario</th>
            <th scope="col">Registrado por </th>
            <th scope="col">Activado</th>
            <th scope="col">Fecha de registro</th>
        </tr>
    </thead>
    <tbody>
        {%for user in users%}
            <tr>
                <th> {{user.id}} </th>
                <th> {{user.username}}</th>
                <th> {{user.user_type}}</th>
                <th> {{user.created_by}}</th>
                <th>
                <form method="POST">
                <input type="hidden" name="username" value="{{user.username}}">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="user_activated" id="gridRadios1" value="true" 
                                                                                               {%if user.active_user == true%}
                    checked=true
                                                                                               {%else%}
                                                                                               {%endif%}
                    >
                 <label class="form-check-label" for="gridRadios1">
                 Activado
                 </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="user_activated" id="gridRadios2" value="false" 
                    
                    {%if user.active_user == true%}
                                                                                               {%else%}
                                                                                               checked=true
                                                                                               {%endif%} 
                    >
                <label class="form-check-label" for="gridRadios2">
                Desactivado
                </label>
                </div>
            </div>
        </th>
                <th> {{user.register_date}} </th>
                <th> <button type="sbumit" class="btn btn-primary"> Actualizar</button> </th>
                </form>
            </tr>
        {%endfor%}
    </tbody>
            <br>
            <br>
        </div>
    </div>
    
    <div class="col-2"></div>
{%endblock%}
