{% macro patient_navbar(enter_id) %}
<!---NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="nav
barSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Atención Integral
        </a>
        <div class="dropdown-menu dropdown-submenu" role="menu" aria-labelledby="navbarDropdown">
        
            <!-- this will be like the button -->
          <a class="dropdown-item" href="#" data-toggle="dropdown" >Historia Clínica</a>

                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a  class="text-dark text-decoration-none" href="antecedentes_heredo_familiares?enter_id={{enter_id}}">Antecedentes heredo-familiares</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="text-dark text-decoration-none" href="antecedentes_personales_no_patologicos?enter_id={{enter_id}}">Antecedentes personales no patologicos</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="text-dark text-decoration-none" href="antecedentes_personales_patologicos?enter_id={{enter_id}}">Antecedentes personales patologicos</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="text-dark text-decoration-none" href="antecedentes_pediatricos?enter_id={{enter_id}}">Antecedentes pediatricos</a>
                            </li>
                            <li class="dropdown-item">
                                <a  class="text-dark text-decoration-none" href="antecedentes_gineco_obstetricos?enter_id={{enter_id}}">Antecedentes gineco-obsteticos</a>
                            </li>

                        </ul>

          <a class="dropdown-item" href="/somatometria?enter_id={{enter_id}}">Somatometría</a>
          <a class="dropdown-item" href="/atencion_medica?enter_id={{enter_id}}">Atención medica</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
 </div>
 </nav>
<link rel="stylesheet" href="static/css/master.css">
 <script>
    $('.dropdown-submenu > a').on("click", function(e) {
    console.log("what the heck!");
    var submenu = $(this);
    $('.dropdown-submenu .dropdown-menu').removeClass('show');
    submenu.next('.dropdown-menu').addClass('show');
    e.stopPropagation();
});

$('.dropdown').on("hidden.bs.dropdown", function() {
    // hide any open menus when parent closes
    $('.dropdown-menu.show').removeClass('show');
});
</script>
{%endmacro%}

{% macro patient_info(names,first_lastname,gender,age,enter_id)%}
<div class="jumbotron" style="padding: 25px;">

    <h4> Datos del paciente:</h4>
    <hr>
    <div class="row">
        <div class="col">
            <h5> Nombre(s): {{names}}</h5>
            <h5> Apellido: {{first_lastname}}</h5>
        </div>
        <div class="col">
            <h5>Sexo: {{gender}}</h5>
            <h5>Edad: {{age}}</h5>
        </div>
        <div class="col">
            <h5>Fecha de ingreso: {{"something"}}</h5>
            <h5>Ficha de ingreso: {{enter_id}}</h5>
        </div>
    </div>

</div>
{% endmacro%}

