{%extends "base.html" %}
{%block content%}
<div class="col-1"></div>
<div class="col-10">
    <!-- NAV BAR-->
    {% from "patient_navbar.html" import patient_navbar with context %}
    {{patient_navbar(enter_id)}}
    {% from "patient_navbar.html" import patient_info with context %}
    {{patient_info( names,first_lastname,gender,age,enter_id,enter_date)}}
    <div class="jumbotron">
    
        

    <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="informacion-general-tab" data-toggle="tab" href="#nav-informacion-general" role="tab" aria-controls="nav-home" aria-selected="true">Información General</a>
    <a class="nav-item nav-link" id="somatometria-tab" data-toggle="tab" href="#nav-somatometria" role="tab" aria-controls="nav-profile" aria-selected="false">Somatometría</a>
    <a class="nav-item nav-link" id="atencion-medica-tab" data-toggle="tab" href="#nav-atencion-medica" role="tab" aria-controls="nav-contact" aria-selected="false">Atención Médica</a>
    <a class="nav-item nav-link" id="antecedentes-personales-no-patologicos-tab" data-toggle="tab" href="#nav-antecedentes-personales-no-patologicos" role="tab" aria-controls="nav-contact" aria-selected="false">Antecedentes personales no patológicos</a>

  </div>
</nav>
<div class="tab-content" id="nav-main">
  <div class="tab-pane fade show active" id="nav-informacion-general" role="tabpanel" aria-labelledby="nav-home-tab">
      

      <div class="card card-body">
            <div class="row">
              <div class="col">
                <h4>Información General</h4>
                <hr>
              </div>      
            </div>
            <div class="row">
              <div class="col">
                <h6>Fecha de nacimiento</h6>
                <p> {{patient.dia_nacimiento}} de {{format_spanish_month(patient.mes_nacimiento)}} del {{patient.ano_nacimiento}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6> Dirección del paciente</h6>
                <p> {{patient.address_street}} #{{patient.address_number}}, Col.{{patient.address_colonia}},{{patient.address_municipio}}, {{patient.address_estado}},
                {{patient.address_pais}}, {{patient.address_}}</p>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Sexo</h6>
                    <p>
                    {{patient.gender}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Padecimientos:</h6>
                    <p>
                    {% set list = patient.padecimientos.split(",")%}
                    {%for element in list %}
                    {{element}}
                    {%endfor%}
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h6>Persona responsable</h6>
                    <p>
                    Nombre: {{patient.persona_responsable_nombre}}
                    <br>
                    Parentesco: {{patient.persona_responsable_parentesco}}
                    <br>
                    Telefono: {{patient.persona_responsable_tel}}
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h6>Persona informate</h6>
                    <p>
                    Nombre: {{patient.persona_informante_nombre}}
                    <br>
                    Parentesco: {{patient.persona_informante_parentesco}}
                    <br>
                    Telefono: {{patient.persona_informante_tel}}
                    </p>
                </div>
            </div>
          </div>

  </div>
  <div class="tab-pane fade" id="nav-somatometria" role="tabpanel" aria-labelledby="nav-profile-tab">

      <div class="card card-body">
            <div class="row">
              <div class="col">
                <h4>Somatometría</h4>
                <hr>
              </div>      
            </div>
            <div class="row">
              <div class="col">
                <h6>Peso:</h6>
                <p>{{somatometria.peso}} kg</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6> Altura </h6>
                <p> {{somatometria.altura}}m</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6> IMC </h6>
                <p> {{somatometria.imc}}</p>
              </div>
            </div>
            <hr>
            <h5>Signos Vitales</h5>
            <div class="row">
                <div class="col">
                    <h6>TA Sistólica</h6>
                    <p>
                    {{somatometria.ta_sistolica}} mmHg
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>TA Diastólica:</h6>
                    <p> {{somatometria.ta_diastolica}} mmHg
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Frecuencia cardiaca:</h6>
                    <p> {{somatometria.frecuencia_cardiaca}} Pulsos por minuto
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Frecuencia respiratoria: </h6>
                    <p> {{somatometria.frecuencia_respiratoria}} Respiraciones por minuto
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Temperatura: </h6>
                    <p> {{somatometria.temperatura}} °C
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h6>Información introducida por: </h6>
                    <p> {{somatometria.informacion_introducida_por}}
                    </p>
                </div>
            </div>

          </div>

  </div>

  <div class="tab-pane fade" id="nav-atencion-medica" role="tabpanel" aria-labelledby="nav-contact-tab">
   
  
  <div class="card card-body">
            <div class="row">
              <div class="col">
                <h4>Atención Médica</h4>
                <hr>
              </div>      
            </div>
            <div class="row">
              <div class="col">
                <h6>Padecimiento actual:</h6>
                <p>{{atencion_medica.padecimiento_actual}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6>Peso:</h6>
                <p>{{atencion_medica.peso}} kg</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6> Altura </h6>
                <p> {{atencion_medica.altura}}m</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6> IMC </h6>
                <p> {{atencion_medica.imc}}</p>
              </div>
            </div>

            <div class="row">
                <div class="col">
                    <h6>TA Sistólica</h6>
                    <p>
                    {{atencion_medica.ta_sistolica}} mmHg
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>TA Diastólica:</h6>
                    <p> {{atencion_medica.ta_diastolica}} mmHg
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Frecuencia cardiaca:</h6>
                    <p> {{atencion_medica.frecuencia_cardiaca}} Pulsos por minuto
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Frecuencia respiratoria: </h6>
                    <p> {{atencion_medica.frecuencia_respiratoria}} Respiraciones por minuto
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Temperatura: </h6>
                    <p> {{atencion_medica.temperatura}} °C
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Tratamiento: </h6>
                    <p> {{atencion_medica.tratamiento}}
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h6>Médico: </h6>
                    <p> {{atencion_medica.nombre_del_medico}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Cédula del Médico: </h6>
                    <p> {{atencion_medica.cedula}}
                    </p>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col">
                    <h6>Información introducida por: </h6>
                    <p> {{atencion_medica.informacion_introducida_por}}
                    </p>
                </div>
            </div>

          </div>

  </div>
  
  
<div class="tab-pane fade" id="nav-antecedentes-personales-no-patologicos" role="tabpanel" aria-labelledby="nav-contact-tab">  
  <div class="card card-body">
            <div class="row">
              <div class="col">
                <h4>Antecedentes personales no patológicos</h4>
                <hr>
              </div>      
            </div>
            <div class="row">
              <div class="col">
                <h6>Religion:</h6>
                <p>{{antecedentes_personales_no_patologicos.religion}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6>Lugar de nacimiento:</h6>
                <p>{{antecedentes_personales_no_patologicos.lugar_de_nacimiento}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6>Estado civil</h6>
                <p> {{antecedentes_personales_no_patologicos.estado_civil}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6>Escolaridad</h6>
                <p> {{antecedentes_personales_no_patologicos.escolaridad}}</p>
              </div>
            </div>

            <div class="row">
                <div class="col">
                    <h6>Igiene personal</h6>
                    <p>
                    {{antecedentes_personales_no_patologicos.igiene_personal}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Actividad Física</h6>
                    <p> {{antecedentes_personales_no_patologicos.actividad_fisica}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Tipo de actividad física:</h6>
                    <p> {{antecedentes_personales_no_patologicos.tipo_de_actividad_fisica}} 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Frecuencia de la actividad: </h6>
                    <p> {{antecedentes_personales_no_patologicos.frecuencia_num}} por {{antecedentes_personales_no_patologicos.frecuencia_unidad}} 

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Preferencia Sexual:</h6>
                    <p> {{antecedentes_personales_no_patologicos.preferencia_sexual}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Número de parejas:</h6>
                    <p> {{antecedentes_personales_no_patologicos.numero_de_parejas}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Grupo Sanguíneo:</h6>
                    <p> {{antecedentes_personales_no_patologicos.grupo_sanguineo}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Calidad de alimentación:</h6>
                    <p> {{antecedentes_personales_no_patologicos.calidad_de_alimentacion}}
                    </p>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col">
                    <h6>Información introducida por: </h6>
                    <p> {{antecedentes_personales_no_patologicos.informacion_introducida_por}}
                    </p>
                </div>
            </div>

          </div>

  </div>
  
  
  </div>
</div>
</div>



<script>
    //ucheck checkbox sin antecedentes
    
function fill_modal(){
    //GET ALL "padecimientos"
    document.getElementById("modal_peso").innerText = document.getElementById("peso").value.trim()
    document.getElementById("modal_altura").innerText = document.getElementById("altura").value.trim()
    document.getElementById("modal_ta_sistolica").innerText = document.getElementById("ta_sistolica").value.trim()
    document.getElementById("modal_ta_diastolica").innerText = document.getElementById("ta_diastolica").value.trim()
    document.getElementById("modal_frecuencia_cardiaca").innerText = document.getElementById("frecuencia_cardiaca").value.trim()
    document.getElementById("modal_frecuencia_respiratoria").innerText = document.getElementById("frecuencia_respiratoria").value.trim()
    document.getElementById("modal_temperatura").innerText = document.getElementById("temperatura").value.trim()
    }

                                                                                                                   
</script>
{%endblock%}
