{% macro patient_navbar(enter_id) %}
<!---NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="nav
barSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Atención Integral
        </a>
        <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Historia Clínica</a>

          <a class="dropdown-item" href="/somatometria?enter_id={{enter_id}}">Somatometría</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
 </div>
 </nav>
{%endmacro%}

{% macro patient_info(names,first_lastname)%}
<div class="jumbotron" style="padding: 25px;">
    <h5> Datos del paciente: {{names}}</h5>
    <h5> Apellido:{{first_lastname}}  </h5>

</div>
{% endmacro%}

