{%extends "base.html" %}
{%block content%}
<div class="col-1"></div>
<div class="col-10">
    <!-- NAV BAR-->
    {% from "patient_navbar.html" import patient_navbar with context %}
    {{patient_navbar(enter_id)}}
    {% from "patient_navbar.html" import patient_info with context %}
    {{patient_info( names,first_lastname,gender,age,enter_id,enter_date)}}
    <div class="jumbotron">
    
        

    <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Información General</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Somatometría</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Atención Médica</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      

      <div class="card card-body">
            <div class="row">
              <div class="col">
                <h4>Información General</h4>
                <hr>
              </div>      
            </div>
            <div class="row">
              <div class="col">
                <h6>Fecha de nacimiento</h6>
                <p> {{patient.dia_nacimiento}} de {{format_spanish_month(patient.mes_nacimiento)}} del {{patient.ano_nacimiento}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6> Dirección del paciente</h6>
                <p> {{patient.address_street}} #{{patient.address_number}}, Col.{{patient.address_colonia}},{{patient.address_municipio}}, {{patient.address_estado}},
                {{patient.address_pais}}, {{patient.address_}}</p>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Sexo</h6>
                    <p>
                    {{patient.gender}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Padecimientos:</h6>
                    <p>
                    {% set list = patient.padecimientos.split(",")%}
                    {%for element in list %}
                    {{element}}
                    {%endfor%}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Persona responsable</h6>
                    <p>
                    Nombre: {{patient.persona_responsable_nombre}}
                    <br>
                    Parentesco: {{patient.persona_responsable_parentesco}}
                    <br>
                    Telefono: {{patient.persona_responsable_tel}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Persona informate</h6>
                    <p>
                    Nombre: {{patient.persona_informante_nombre}}
                    <br>
                    Parentesco: {{patient.persona_informante_parentesco}}
                    <br>
                    Telefono: {{patient.persona_informante_tel}}
                    </p>
                </div>
            </div>
          </div>




  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

      <div class="card card-body">
            <div class="row">
              <div class="col">
                <h4>Somatometría</h4>
                <hr>
              </div>      
            </div>
            <div class="row">
              <div class="col">
                <h6>Peso:</h6>
                <p>{{somatometria.peso}} kg</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6> Altura </h6>
                <p> {{somatometria.altura}}m</p>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>TA Sistólica</h6>
                    <p>
                    {{somatometria.ta_sistolica}} mmHg
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>TA Diastólica:</h6>
                    <p> {{somatometria.ta_diastolica}} mmHg
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Frecuencia cardiaca:</h6>
                    <p> {{somatometria.frecuencia_cardiaca}} Pulsos por minuto
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Frecuencia respiratoria: </h6>
                    <p> {{somatometria.frecuencia_respiratoria}} Respiraciones por minuto
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Temperatura: </h6>
                    <p> {{somatometria.temperatura}} °C
                    </p>
                </div>
            </div>
          </div>


  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
</div>



<script>
    //ucheck checkbox sin antecedentes
    
function fill_modal(){
    //GET ALL "padecimientos"
    document.getElementById("modal_peso").innerText = document.getElementById("peso").value.trim()
    document.getElementById("modal_altura").innerText = document.getElementById("altura").value.trim()
    document.getElementById("modal_ta_sistolica").innerText = document.getElementById("ta_sistolica").value.trim()
    document.getElementById("modal_ta_diastolica").innerText = document.getElementById("ta_diastolica").value.trim()
    document.getElementById("modal_frecuencia_cardiaca").innerText = document.getElementById("frecuencia_cardiaca").value.trim()
    document.getElementById("modal_frecuencia_respiratoria").innerText = document.getElementById("frecuencia_respiratoria").value.trim()
    document.getElementById("modal_temperatura").innerText = document.getElementById("temperatura").value.trim()
    }

function send_form(){                                                                                               
   var form = document.getElementById("somatometria_form")                                                           
    form.submit()                                                                                                   
}                                                                                                                   
</script>
{%endblock%}
