{% extends "base.html" %}
{% block content %}
<div class="col-3"> </div>
<div class="col-6">
    <div class="jumbotron">
<h1>Registro de usuarios al sistema CAT</h1>
            <br>
        <form id="register_user" method="POST" action="">
            <div class="form-group">
                <label for="user_names">Nombres:</label><br>
                <input class="form-control" type="text" id="user_names" name="user_names">
            </div>
            <div class="form-group">
                <label for="user_frist_lastname">Apellido paterno:</label><br>
                <input class="form-control" type="text" id="user_first_lastname" name="user_first_lastname">
            </div>
            <div class="form-group">
                <label for="user_second_lastname">Apellido materno:</label><br>
                <input class="form-control" type="text" id="user_second_lastname" name="user_second_lastname">
            </div>
            <!-- LETS USE JAVASCRIPT TO GENERATE THE USER -->
            <div class="form-group">
                <label for="username">Nombre de Usuario:</label><br>
                <input class="form-control" type="text" id="username" name="username" readonly="readonly" value="Administrador">
            </div>
            <!-- JAVASCRIPT WILL GENERATE A RANDOM PASSWORD-->
            <div class="form-group">
                <label for="password">Password temporal</label><br>
                <input class="form-control" type="text" id="password" name="password" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="user_type"> Tipo de usuario </label></br>
                <input class="form-control" id="user_type" name="user_type" value="Administrador" readonly="readonly">
                </select>
            </div>
            <!-- button for modal -->
            <button onclick="fill_modal()" type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#exampleModal" >
  Crear usuario
</button>
        </form>
        <br>
        </div>
    </div>
    <div class="col-3"></div>
    <!--MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dar de alta a usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Nombres:</p>
          <p id="modal-names" value=""> </p>
          <p>Apellido paterno:</p>
          <p id="modal-first_lastname" value=""></p>
          <p>Apellido materno:</p>
          <p id="modal-second_lastname" value=""></p>
          <p>Nombre de usuario en el sistema: </p>
          <p id="modal-username" value=""></p>
          <p>Password temporal: </p>
          <p id="modal-password" value=""></p>
          <p>Tipo de usuario</p>
          <p id="modal-type" value=""></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button onclick="send_form()" type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

    <script type="text/javascript">
        document.getElementById("password").value = 100 + Math.floor(Math.random()* 899)
        function fill_modal(){
    document.getElementById("modal-names").innerText = document.getElementById("user_names").value.trim()
    document.getElementById("modal-first_lastname").innerText = document.getElementById("user_first_lastname").value.trim()
    document.getElementById("modal-second_lastname").innerText = document.getElementById("user_second_lastname").value.trim()
    document.getElementById("modal-password").innerText = document.getElementById("password").value.trim()
    document.getElementById("modal-username").innerText = document.getElementById("username").value.trim()
document.getElementById("modal-type").innerText = document.getElementById("user_type").value.trim()

}
function send_form(){
    var form = document.getElementById("register_user");
    form.submit();
}
    </script>
{%endblock%}
