{% extends "base.html" %}
{% block content %}
<div class="col-3"> </div>
<div class="col-6">
    <div class="jumbotron">
<h1>Registro de usuarios al sistema CAT</h1>
            <br>
        <form id="register_user" method="POST" action="">
            <div class="form-group">
                <label for="user_names">Nombres:</label><br>
                <input class="form-control" type="text" id="user_names" name="user_names">
            </div>
            <div class="form-group">
                <label for="user_frist_lastname">Apellido paterno:</label><br>
                <input class="form-control" type="text" id="user_first_lastname" name="user_first_lastname">
            </div>
            <div class="form-group">
                <label for="user_second_lastname">Apellido materno:</label><br>
                <input class="form-control" type="text" id="user_second_lastname" name="user_second_lastname">
            </div>
            <!-- LETS USE JAVASCRIPT TO GENERATE THE USER -->
            <div class="form-group">
                <label for="username">Nombre de Usuario:</label><br>
                <input class="form-control" type="text" id="username" name="username" readonly="readonly">
            </div>
            <!-- JAVASCRIPT WILL GENERATE A RANDOM PASSWORD-->
            <div class="form-group">
                <label for="password">Password temporal</label><br>
                <input class="form-control" type="text" id="password" name="password" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="user_type"> Tipo de usuario </label></br>
                <select class="form-control" id="user_type" name="user_type">
                    {% if current_user.username == "Administrador" %}
                    <option value="Personal administrativo">Personal Administrativo</option>
                    {%endif%}
                    <option value="Personal de Enfermeria">Personal de enfermería</option>
                    <option value="doctor">Doctor</option>
                </select>
            </div>
            <div class="form-group">
                    <label for="user_cedula">Cédula Profesional</label>
                    <input class="form-control" id="user_cedula" name="user_cedula"></input>
                </div>
                <div class="form-group">
                    <label for="created_by">Usuario registrado por:</label><br>
                    <input class="form-control" type="text" id="created_by" name="created_by" value="{{current_user.username}}" readonly="readonly">
                </div>
                

            </div>
            <!-- button for modal -->
            <button onclick="fill_modal()" type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#register-modal" >
  Crear usuario
</button>
        </form>
        <br>
        </div>
    </div>
    <div class="col-3"></div>
    <!--MODAL -->
    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dar de alta a usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Nombres:</p>
          <h3 id="modal-names" value=""> </h3>
          <p>Apellido paterno:</p>
          <h3 id="modal-first_lastname"></h3>
          <p>Apellido materno:</p>
          <h3 id="modal-second_lastname" value=""></h3>
          <p>Nombre de usuario en el sistema: </p>
          <h3 id="modal-username" value=""></h3>
          <p>Password temporal: </p>
          <h3 id="modal-password" value=""></h3>
          <p>Tipo de usuario</p>
          <h3 id="modal-type" value=""></h3>
          <p>Cédula Profesional</p>
          <h3 id="modal-cedula" value=""> </h3>
          <hr>
          <p>Usuario Creado por:</p>
          <p>{{current_user.username}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button onclick="send_form()" type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

    <script type="text/javascript">
        document.getElementById("password").value = 100 + Math.floor(Math.random()* 899)
        document.getElementById("user_names").addEventListener("change", elaborate_username);
        document.getElementById("user_first_lastname").addEventListener("change", elaborate_username);
        document.getElementById("user_second_lastname").addEventListener("change", elaborate_username);

function elaborate_username() {
    var only_firstname;
    var first_lastname;
    var random;
    var whole_username;
    var names_array = document.getElementById("user_names").value.split(/(\s+)/);
    only_firstname = names_array[0]
    first_lastname = document.getElementById("user_first_lastname").value.trim()
    random = Math.floor(Math.random() * 999);
    whole_username = only_firstname +"." + first_lastname + random
    document.getElementById("username").value = whole_username.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
}
function fill_modal(){
    document.getElementById("modal-names").innerText = document.getElementById("user_names").value.trim()
    document.getElementById("modal-first_lastname").innerText = document.getElementById("user_first_lastname").value.trim()
    document.getElementById("modal-second_lastname").innerText = document.getElementById("user_second_lastname").value.trim()
    document.getElementById("modal-password").innerText = document.getElementById("password").value.trim()
    document.getElementById("modal-username").innerText = document.getElementById("username").value.trim()
    document.getElementById("modal-type").innerText = document.getElementById("user_type").value.trim()
    document.getElementById("modal-cedula").innerText = document.getElementById("user_cedula").value.trim()


}
function send_form(){
    var form = document.getElementById("register_user");
    form.submit();
}
    </script>
{%endblock%}
