{% extends "base.html" %}
{% block content %}
<div class="col-3"> </div>
<div class="col-6">
    <div class="jumbotron">
<h1>Cambia tu contraseña</h1>
            <br>
        <form id="register_user" method="POST" action="set_new_password">
            <div class="form-group">
                <label for="user_temporal_password">Contraseña actual:</label><br>
                <input class="form-control" type="password" id="user_temporal_password" name="user_temporal_password">
            </div>

            <div class="form-group">
                <label for="user_new_password">Nueva contraseña:</label><br>
                <input class="form-control" type="password" id="user_new_password" name="user_new_password">
            </div>
            <div class="form-group">
                <label for="user_password_confirm">Confirma contraseña:</label><br>
            <input class="form-control" type="password" id="user_password_confirm" name="user_password_confirm">
            </div>
            <!-- button for modal -->
            <button  type="submit" class="btn btn-primary form-control" id="change_password" data-toggle="modal" data-target="#exampleModal" disabled>Cambiar contraseña</button>
        </form>
        </div>
    </div>
    <div class="col-3"></div>
</div>
</div>

<script type="text/javascript">
    const node = document.getElementById("user_new_password");
    const node2 = document.getElementById("user_password_confirm");
    const change_password_button = document.getElementById('change_password');
    node.addEventListener("keyup", function(event) {
        if (document.getElementById('user_new_password').value===document.getElementById('user_password_confirm').value){
        console.log('yeap they are the same');
        change_password_button.disabled=false;
        }
        else{change_password_button.disabled=true}
});
    node2.addEventListener("keyup", function(event) {
        if (document.getElementById('user_new_password').value ===document.getElementById('user_password_confirm').value){
        console.log('yeap they are the same');
        change_password_button.disabled=false;
        }
        else{change_password_button.disabled=true}
});

function check_input(){
    if (document.getElementById("user_new_password").value.length > 6){
    change_password_button.disable=false;
    } 
}



function send_form(){
    var form = document.getElementById("register_user");
    form.submit();
}
    </script>
{%endblock%}
