{%extends "base.html" %}
{%block content%}
<div class="col-1"></div>
<div class="col-10">
    <!-- NAV BAR-->

    {% from "patient_navbar.html" import patient_navbar with context %}
    {{patient_navbar(id)}}
    {% from "patient_navbar.html" import patient_info with context %}
    {{patient_info( names,first_lastname)}}

        <div class="jumbotron">
            <div class="row">
                    <h4>SOMATOMETRIA</h4>
                    <hr>
            </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Ficha de ingreso</label>
                </div>
            </div>
            <form method="POST" id="register_patient">
                <div class="col">
                    <div class="form-group">
                    <input class="form-control" type="text" id="enter_id" name="enter_id" readonly value={{patient_id}}>
                    </div>
                </div>
            </div>
            <!-- peso de la persona -->
            <div class="form-group">
             <label for="peso">Peso:</label><br>
             <input class="form-control" type="text" id="peso" name="peso"><br>
            </div>
            <div class="row">
                <div class="col">
                    <div clas="form-group">
                        <label for="altura">Altura</label><br>
                        <input class="form-control" type="text" id="altura" name="altura"><br>
                    </div>
                </div>
                <div class="col">
                    <div clas="form-group">
                        <label for="sistolica">TA sistólica</label><br>
                        <input class="form-control" type="text" id="sistolica" name="ta_sistolica"><br>
                    </div>
                </div>
                </div>
            <!-- Direccion -->
            <div class="row">
                <div class="col">
                    <div clas="form-group">
                        <label for="diastolica">TA Diastólica</label><br>
                        <input class="form-control" type="text" id="diastolica" name="diastolica"><br>
                    </div>
                </div>
                <div class="col">
                    <div clas="form-group">
                        <label for="cardiaca">Frecuencia Cardiaca</label><br>
                        <input class="form-control" type="text" id="cardiaca" name="cardiaca"><br>
                    </div>
                </div>
                <div class="col">
                    <div clas="form-group">
                        <label for="respiratoria">Frecuencia Respiratoria</label><br>
                        <input class="form-control" type="text" id="respiratoria" name="respiratoria"><br>
                    </div>
                </div>
            </div>
            <div clas="row">
                <div class="col">
                    <div clas="form-group">
                        <label for="temperatura">Temperatura</label><br>
                        <input class="form-control" type="text" id="temperatura" name="temperatura"><br>
                    </div>
                </div>
            </div>
            <hr>
            

            <button onclick="collect_padecimientos(fill_modal)" type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#patient-modal">Ingreso de Paciente</button>            
            <br>
            <br>
            <button type="submit" class="btn btn-secondary form-control">Cancelar ingreso</button>   
        </form>
        <br>
    </div>
</div>
<div class="col-1"></div>

<!--MODAL -->
<div class="modal fade" id="patient-modal" tabindex="-1" role="dialog" aria-labelledby="patient-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de paciente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Nombres:</p>
          <h3 id="modal-names" value=""> </h3>
          <p>Apellido paterno:</p>
          <h3 id="modal-first_lastname"></h3>
          <p>Apellido materno:</p>
          <h3 id="modal-second_lastname" value=""></h3>
          <p>Calle: </p>
          <h3 id="modal-street" value=""></h3>
          <p>Sexo: </p>
          <h3 id="modal-gender" value=""></h3>
          <p>Persona Informante</p>
          <h3 id="modal-persona-informante" value=""></h3>
          <p>Padecimientos:</p>
          <h3 id="modal-padecimientos"></h3>
          <p>Familiar Responsable </p>
          <h3 id="modal-responsable" value=""> </h3>
          <hr>
          <p>Dado de alta por:</p>
          <p>{{current_user.username}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button onclick="send_form()" type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!--END MODAL-->
<script>
    //ucheck checkbox sin antecedentes
    

function fill_modal(padecimientos){
    //GET ALL "padecimientos"
    console.log("lets fill the modal")
    }


</script>
{%endblock%}
